[Unit]
Description=Portal service (Muffin Screencast implementation)

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.screencast
ExecStart=/usr/local/libexec/xdg-desktop-portal-screencast
