[Unit]
Description=Portal service (Muffin Screencast implementation)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.screencast
ExecStart=/usr/libexec/xdg-desktop-portal-screencast
